In [20]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [21]:
sal = pd.read_csv('datasets/Salaries.csv')

In [22]:
sal.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>EmployeeName</th>
      <th>JobTitle</th>
      <th>BasePay</th>
      <th>OvertimePay</th>
      <th>OtherPay</th>
      <th>Benefits</th>
      <th>TotalPay</th>
      <th>TotalPayBenefits</th>
      <th>Year</th>
      <th>Notes</th>
      <th>Agency</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>NATHANIEL FORD</td>
      <td>GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY</td>
      <td>167411</td>
      <td>0</td>
      <td>400184</td>
      <td>NaN</td>
      <td>567595.43</td>
      <td>567595.43</td>
      <td>2011</td>
      <td>NaN</td>
      <td>San Francisco</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>GARY JIMENEZ</td>
      <td>CAPTAIN III (POLICE DEPARTMENT)</td>
      <td>155966</td>
      <td>245132</td>
      <td>137811</td>
      <td>NaN</td>
      <td>538909.28</td>
      <td>538909.28</td>
      <td>2011</td>
      <td>NaN</td>
      <td>San Francisco</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>ALBERT PARDINI</td>
      <td>CAPTAIN III (POLICE DEPARTMENT)</td>
      <td>212739</td>
      <td>106088</td>
      <td>16452.6</td>
      <td>NaN</td>
      <td>335279.91</td>
      <td>335279.91</td>
      <td>2011</td>
      <td>NaN</td>
      <td>San Francisco</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>CHRISTOPHER CHONG</td>
      <td>WIRE ROPE CABLE MAINTENANCE MECHANIC</td>
      <td>77916</td>
      <td>56120.7</td>
      <td>198307</td>
      <td>NaN</td>
      <td>332343.61</td>
      <td>332343.61</td>
      <td>2011</td>
      <td>NaN</td>
      <td>San Francisco</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>PATRICK GARDNER</td>
      <td>DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)</td>
      <td>134402</td>
      <td>9737</td>
      <td>182235</td>
      <td>NaN</td>
      <td>326373.19</td>
      <td>326373.19</td>
      <td>2011</td>
      <td>NaN</td>
      <td>San Francisco</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [24]:
# Calc BasePay mean
# BasePay has some str
# We get subset with no str in BasePay
sal_no_BasePay_str = sal.loc[sal.loc[:, 'BasePay'].apply(lambda x: not isinstance(x, str))]
sal_no_BasePay_str.loc[:, 'BasePay'].mean()

71323.83957370375

In [25]:
# Getting max OvertimePay
# OvertimePay has some str
# We get subset with no str in OvertimePay
sal_no_OvertimePay_str = sal.loc[sal.loc[:, 'OvertimePay'].apply(lambda x: not isinstance(x, str))]
sal_no_OvertimePay_str['OvertimePay'].max()

245131.88

In [26]:
# Job title of JOPESH DRISCOLL
# Filtering JOPESH DRISCOLL data
JD_df = sal[sal['EmployeeName'].apply(lambda x: x.upper()) == "JOSEPH DRISCOLL"]
JD_df['JobTitle']

24       CAPTAIN, FIRE SUPPRESSION
36198    Captain, Fire Suppression
Name: JobTitle, dtype: object

In [27]:
# How does JOSEPH DRISCOLL make (including benefits)?
JD_df['TotalPayBenefits']

24       270324.91
36198    331834.79
Name: TotalPayBenefits, dtype: float64

In [28]:
# What's the name of highest person paid?
sal.loc[sal['TotalPayBenefits'].idxmax(), :]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [29]:
# What's the name of lowest person paid?
sal.loc[sal['TotalPayBenefits'].idxmin(), :]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [34]:
# What was the avarage BasePay of all employees per year?(2011 - 2014)
sal_no_BasePay_str.loc[:, 'BasePay'] = pd.to_numeric(sal_no_BasePay_str['BasePay'], errors='coerce')
sal_no_BasePay_str.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    98516.406378
Name: BasePay, dtype: float64

In [31]:
# How many unique job Title are there?
len(sal['JobTitle'].unique())

2159

In [43]:
# What are the top 5 most common jobs?
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [90]:
# How many Job Titles were represented by only one person in 2013?
job_titles_2013 = sal[sal['Year']==2013]
sum(job_titles_2013['JobTitle'].value_counts() == 1)

202

In [93]:
# How many people have the word Chief in their job title?
sum(sal["JobTitle"].apply(lambda a: "chief" in a.lower()))

627

In [95]:
# Is there a correlation between length of job title string and Salary?
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['TotalPayBenefits', 'title_len']].corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TotalPayBenefits</th>
      <th>title_len</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>TotalPayBenefits</th>
      <td>1.000000</td>
      <td>-0.036878</td>
    </tr>
    <tr>
      <th>title_len</th>
      <td>-0.036878</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>