In [25]:
import pandas as pd

In [26]:
e_comm = pd.read_csv('datasets/ecommerce_purchases.csv')

In [27]:
e_comm.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Address</th>
      <th>Lot</th>
      <th>AM or PM</th>
      <th>Browser Info</th>
      <th>Company</th>
      <th>Credit Card</th>
      <th>CC Exp Date</th>
      <th>CC Security Code</th>
      <th>CC Provider</th>
      <th>Email</th>
      <th>Job</th>
      <th>IP Address</th>
      <th>Language</th>
      <th>Purchase Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>16629 Pace Camp Apt. 448\nAlexisborough, NE 77...</td>
      <td>46 in</td>
      <td>PM</td>
      <td>Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...</td>
      <td>Martinez-Herman</td>
      <td>6011929061123406</td>
      <td>02/20</td>
      <td>900</td>
      <td>JCB 16 digit</td>
      <td>pdunlap@yahoo.com</td>
      <td>Scientist, product/process development</td>
      <td>149.146.147.205</td>
      <td>el</td>
      <td>98.14</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9374 Jasmine Spurs Suite 508\nSouth John, TN 8...</td>
      <td>28 rn</td>
      <td>PM</td>
      <td>Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...</td>
      <td>Fletcher, Richards and Whitaker</td>
      <td>3337758169645356</td>
      <td>11/18</td>
      <td>561</td>
      <td>Mastercard</td>
      <td>anthony41@reed.com</td>
      <td>Drilling engineer</td>
      <td>15.160.41.51</td>
      <td>fr</td>
      <td>70.73</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Unit 0065 Box 5052\nDPO AP 27450</td>
      <td>94 vE</td>
      <td>PM</td>
      <td>Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...</td>
      <td>Simpson, Williams and Pham</td>
      <td>675957666125</td>
      <td>08/19</td>
      <td>699</td>
      <td>JCB 16 digit</td>
      <td>amymiller@morales-harrison.com</td>
      <td>Customer service manager</td>
      <td>132.207.160.22</td>
      <td>de</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7780 Julia Fords\nNew Stacy, WA 45798</td>
      <td>36 vm</td>
      <td>PM</td>
      <td>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...</td>
      <td>Williams, Marshall and Buchanan</td>
      <td>6011578504430710</td>
      <td>02/24</td>
      <td>384</td>
      <td>Discover</td>
      <td>brent16@olson-robinson.info</td>
      <td>Drilling engineer</td>
      <td>30.250.74.19</td>
      <td>es</td>
      <td>78.04</td>
    </tr>
    <tr>
      <th>4</th>
      <td>23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...</td>
      <td>20 IE</td>
      <td>AM</td>
      <td>Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...</td>
      <td>Brown, Watson and Andrews</td>
      <td>6011456623207998</td>
      <td>10/25</td>
      <td>678</td>
      <td>Diners Club / Carte Blanche</td>
      <td>christopherwright@gmail.com</td>
      <td>Fine artist</td>
      <td>24.140.33.94</td>
      <td>es</td>
      <td>77.82</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
# How many rows and columns are there?
print("rows: %i \ncolumns: %i" % (e_comm.shape[0], e_comm.shape[1]))

rows: 10000
columns: 14

In [29]:
# What is the average Purchase Price?
e_comm["Purchase Price"].mean()

50.347302

In [30]:
# What were the highest and lowest purchase prices?
print("highest: %f \nlowest: %f" % (e_comm["Purchase Price"].max(), e_comm["Purchase Price"].min()))

highest: 99.990000
lowest: 0.000000

In [31]:
# How many people have English 'en' as their Language of choice on the website?
sum(e_comm['Language'] == 'en')

1098

In [39]:
# How many people have the job title of "Lawyer" ?
# Filtering strings to avoid type stuff errors
ec_job = e_comm.loc[e_comm["Job"].apply(lambda x: isinstance(x, str)), :]
# getting the total
sum(ec_job['Job'].apply(lambda x: x.lower() == "lawyer"))

30

In [41]:
# How many people made the purchase during the AM and how many people made the purchase during PM ?
AM = sum(e_comm["AM or PM"] == "AM")
PM = sum(e_comm["AM or PM"] == "PM")
print("AM: %d \nPM: %d" % (AM, PM))

AM: 4932
PM: 5068

In [42]:
# What are the 5 most common Job Titles?
e_comm['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

In [43]:
# Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?
e_comm.loc[e_comm["Lot"] == "90 WT", :]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

In [45]:
# What is the email of the person with the following Credit Card Number: 4926535242672853
e_comm.loc[e_comm["Credit Card"] == 4926535242672853,:]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [46]:
# How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
sum((e_comm["CC Provider"] == "American Express") & (e_comm["Purchase Price"] > 95))

39

In [47]:
# How many people have a credit card that expires in 2025?
sum(e_comm["CC Exp Date"].apply(lambda a: "/25" in a))

1033

In [49]:
# What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
# I guess it looks for "gmail" not "gmail.com", so...
e_comm["email_hosts"] = e_comm['Email'].apply(lambda a: a.split("@")[1].split(".")[0])
e_comm["email_hosts"].value_counts().head()

hotmail     1638
yahoo       1616
gmail       1605
smith         69
williams      55
Name: email_hosts, dtype: int64